{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "standard",
    "standard-react",
    "plugin:import/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.53"
    },
    "linkComponents": [
      "Hyperlink",
      {"name": "Link", "linkAttribute": "to"}
    ]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-indent": [2, 2],
    "react/jsx-boolean-value": [2, "never"],
    "react/jsx-fragments": "off",
    "react/jsx-curly-brace-presence": "off",
    "key-spacing": "off",
    "jsx-quotes": [2, "prefer-double"],
    "object-curly-spacing": [2, "never"],
    "indent": [2, 2],
    "comma-dangle": "error",
    "import/newline-after-import": ["error"],
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": ["error"],
    "no-console": "warn",
    "react/prop-types": "off",
    "react/display-name": "off"
  }
}
